.AboutMe{
    z-index: 0;
    position: relative;
    margin-top: 30px;
}
.AboutMe h1{
    /*并非background-color*/
    background: linear-gradient(270deg, #fff6a1, #6cffff, #ffd47d);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 100px;
    z-index: 0;
    margin: 0 ;
    text-align: center;
    font-weight: bold;
    animation: flow 5s linear infinite; 
   /* 并非auto */
    background-size: 300% 300%; 
    font-family: 'Lucida Handwriting',sans-serif;
}

.idbar{
    display: flex;
    width: 80%;
    height: 600px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10%;
    z-index: 5;

}
.box{
    flex: 1;/*等于flex-grow：1；flex-shrink：1；flex-basis：0%*/
    overflow: hidden;
    margin: 0 10px;
    box-shadow:10px 10px 10px #2e2e2e6c;
    border: 10px solid #f3f3f3;
    background-color: #f3f3f3;
    transition: 0.5s;
    border-radius: 15px;
    height: 600px;
}
.box img{
    width: 200%;
    height: 90%;
    object-fit: cover;
    transition: 0.5s;
    
}
.box span{
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 69, 159);
    text-align: center;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box h1{
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 0.6s;
}
.box:hover{
    flex-basis: 40%;
}
.box:hover h1{
    opacity: 1;
}
.box:hover img{
    width: 100%;
    height: 100%;
}
/* @keyframes flow {
    0% {
        background-position: 0% 50%; 
    }
    100% {
        background-position: 100% 50%; 
    }

}  9.26不生效 9.28：添加了照片墙，放在下面，生效*/
.photowall{
    font-family: 'kaiti',sans-serif;
    font-size: 25px;
    text-align: center;
    position: relative;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100px;
    background-color: rgba(240, 248, 255, 0);
    align-items: center;
}
.photowall h1{
   
    background: linear-gradient(45deg, #ffe15df7,#00fff789, #ffe15df7);
    animation: flow 2s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 300% 300%; 
}
@keyframes flow {
    0% {
        background-position: 0% 50%; 
    }
    100% {
        background-position: 100% 50%; 
    }

}
.photo{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 100;
}
.pbody{
    position: absolute;
    left: 2.5%;
    height: fit-content;
    max-width: 95%;

    column-gap: 15px;
    column-count: 5;
}
.pbody .image{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    position: relative;
}
.pbody .image img{
    width: 100%;
    border-radius: 10px;
}
.pbody .image h2{
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    font-family: 'kaiti';
    top: 10px;
    color: #000000;
    
}
.pbody .image:hover h2{
    opacity: 1;
}
@media screen and (max-width : 1200px){
    .pbody{
        column-count: 4;
    } 
} 
@media screen and (max-width : 768px){
    .pbody{
        column-count: 3;
    } 
} 
@media screen and (max-width : 600px){
    .pbody{
        column-count: 2;
    } 
}      





@media screen and (max-width:768px){
    .idbar{
        display: flex;
        width: 80%;
        height: fit-content;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 10%;
        z-index: 5;
        flex-direction: column;
}
.box{
    flex: 1;
    overflow: hidden;
    margin: 10px 10px;
    box-shadow:10px 10px 10px #2e2e2e6c;
    border: 10px solid #f3f3f3;
    background-color: #f3f3f3;
    position: relative;
    border-radius: 15px;
    height: 500px;
    display: block;
    
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
.box span{
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 69, 159);
    text-align: center;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box h1{
   flex-wrap: wrap;
   position: absolute;
    opacity: 1;
    transition: 0.6s;
    padding: 5px;
    font-size: 20px;
}
.box:hover{
    flex-basis: 0%;
}
.box:hover h1{
    opacity: 1;
}
.box:hover img{
    width: 100%;
    height: 100%;
}

}
