a{
    text-decoration: none;
}
hr {
    border: none; 
    height: 2px; 
    background-color: rgb(130, 127, 127);
}
.navbar{
    background-color: rgba(86, 93, 105, 0.564)
}
.title #title{
    position: relative;
    margin-top: 40px;
}

.title  {
    font-size: 30px;
    font-weight: bold;
    color: rgba(255, 247, 0, 0.781); 
    margin: 0;
    text-align: center;
    position: relative;
    background-color: rgba(250, 235, 215, 0.453);
}
.sidebar-1 {
    background-color: rgba(250, 235, 215, 0.453);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    padding: auto;
}
.sidebar-1 .innerdiv1{
    font-size: 40px;
    margin-top: 80px;
}
.sidebar-1 .innerdiv1 h3{
   
    text-align: center;
}

.sidebar-1 .innerdiv2{
    margin: 20px;
    align-items: center;
    flex-wrap: wrap;
}



.sidebar-1 .innerdiv2 a{
    font-size: 30px;
    overflow: hidden;
    text-decoration: none;
    font-family: 'kaiti',sans-serif;
    align-items: center;/*死活不对齐 9.27：已解决，语句如左*/
    display: flex; 
    
}
.sidebar-1 .innerdiv2 a .innerimg{
    width: 30px;
    height: 30px;
    /* background-size: cover; 语句无用：ybb,根本没用到background*/
    object-fit: cover;/*记得查*/
}

body::before {
    opacity: 0.4; 
    z-index: -1; 
}

.blog{
    margin: 15px;
    position: relative;
    left: 300px;
    width: 80%;
    height: 200px;
    background-color: rgba(251, 248, 189, 0.803);
    border-radius: 15px;
    display: flex
}
.blog .blogimg{
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 15px;
    margin: 15px;
}
.blog div{
    width: 100%;
}
.blog div h1{
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 20%;
    color: blueviolet;
}
.blog div h4{
    font-size: 20px;
    margin: 15px;
}
.blog div p{
    font-size: 20px;
    margin: 15px;
}

/* 笨 */
.showplace{
    position: relative;
    background-color: rgba(250, 250, 250, 0.679);
    display: none;
    left: 300px;
    border-radius: 15px;
    margin: 15px;
    width: 80%;
    
}


@media  screen and (max-width:768px) {
    .sidebar-1{
        display: none;
    }
    
.blog{
    left: 30px;
    margin: 15px;
    position: relative;
    font-size: 10px;
    width: 80%;
    height: 150px;
    background-color: rgba(251, 248, 189, 0.803);
    border-radius: 15px;
    display: flex;
    overflow: hidden;
}
.blog .blogimg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 25%;
    margin: 15px;
}
.blog div h4{
    font-size: 20px;

}
.blog div p{
    display: none;
}
.showplace{
    position: relative;
    background-color: rgba(251, 248, 189, 0.803);
    display: none;
    left: 30px;
    border-radius: 15px;
    margin: 15px;
    width: 80%;
    height: fit-content;
    font-size: 20px;
}

}
.link .blog:hover {
    transition: 0.3s;
    transform: rotateY(0deg) scale(1.01);
   box-shadow: 0 25px 40px rgba(105, 101, 101, 0.423);
    z-index: 1;
}
.sidebar-1:hover {
    transition: 0.3s;
    transform: rotateY(0deg) scale(1.01);
   box-shadow: 0 25px 40px rgba(70, 70, 70, 0.514);
    z-index: 1;
}
.sidebar-1 .innerdiv2 a:hover {
    transition: 0.3s;
    transform: rotateY(0deg) scale(1.03);
   box-shadow: 0 25px 40px rgba(0, 0, 0, 0.193);
    z-index: 1;
    border-radius: 15px;
}