*{
    margin: 0;
    padding: 0;

}
/* 桌面导航条背景和样式 */
.navbar {
    background-color: rgb(85, 89, 96);
    height: 80px; /* 调整导航栏高度 */
    display: flex;
    justify-content: center; /* 居中内容 */
    align-items: center; /* 垂直居中内容 */
    box-shadow: 0 2px 5px rgba(82, 82, 82, 0.2); /* 添加阴影以增加层次感 */
    width: 100%;
    z-index: 1000; /* 保证导航栏位于其他内容上方 */
    position: fixed;
    top: 0;
    left: 0;
}

/* 去除默认列表样式 */
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* 水平排列列表项 */
    justify-content: space-around; /* 控制导航项之间的间距 */
    width: 60%; /* 调整导航栏宽度，或根据需求调整 */
}

/* 导航链接样式 */
.navbar a {
    color: white; /* 设置文字为白色 */
    text-decoration: none; /* 去除下划线 */
    font-size: 18px; /* 文字大小 */
    padding: 10px 20px; /* 添加内边距，使文字和背景的间距更大 */
    transition: background-color 0.3s ease, color 0.3s ease; /* 鼠标悬停时的过渡效果 */
    border-radius: 8px;
    font-family:Arial, sans-serif;
}

/* 鼠标悬停时的样式 */
.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* 悬停时添加轻微背景色 */
    color: #FFD700; /* 悬停时文字颜色变化 */
    border-radius: 25px; /* 圆角设置 */
}


/* 设置导航条在滚动时保持在顶部 */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* 保证导航栏位于其他内容之上 */
}
body {
    margin-top: 80px;
     opacity: 0.8;
     position: relative; /* 确保伪元素与body相关 不理解，记得问???*/
     
}
body::before {
    content: ''; /* 创建一个空的伪元素 */
    position: fixed; /* 使伪元素覆盖整个页面 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://tonks-blog-1329849192.cos.ap-chengdu.myqcloud.com/xiaoli2.jpg') center no-repeat; /* 背景图片 */ /*一定要打两个点！表示上一个文件夹！*//*已老实，使用腾讯云图床*/
    background-size: cover; /* 背景图片覆盖整个页面 */
    opacity: 0.9; /* 设置背景图片透明度 */
    z-index: -1; /* 确保伪元素位于内容的后面 */
}
@media only screen and (max-width: 768px) {
    body::before {
        background: url('https://tonks-blog-1329849192.cos.ap-chengdu.myqcloud.com/xiaoli.png') center no-repeat; /* 移动端背景图片 */
        background-size: cover; /* 确保背景图片在移动端也覆盖整个页面 */
    }
}


/*手机端导航栏*/
.phonenav{
    background-color: rgb(85, 89, 96,0.1);
    display: none;
    top: 0;
    position: fixed;
    
}
.openbut{
    display: none;
}
.sidebar{
    background-color: rgb(85, 89, 96);
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top:0;
    left:0;
    width: 0;
    overflow-x: hidden;/*不加这个会有字，因为盒子里的元素没隐藏*/
    transition: 0.3s;
    padding-top: 60px;
    z-index: 2; /* 确保侧边栏在蒙版之上 */
    height: 100%;
}
.sidebar a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 8px 8px 8px 32px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 15px;
    display: block;
}

.sidebar .closebut{
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px
}
.overlay{/*手机版导航打开后蒙版*/
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); /* 黑色半透明 */
    z-index: 1;
    display: none;
    width: 100%;
    height: 100%;
}
.openbut{
    background-color: rgb(85, 89, 96,0.2);
    text-decoration: none;
    font-size: 25px;
    display: none;
    width: 40px; 
    height: 40px; 
    color: white;
    border: none;
    border-radius: 50%;
}
@media screen and (max-width:768px) {
    .navbar{
        display: none;
    }
    .phonenav{
        display: block;
    }
    .openbut {
        display: block;
    }
}
.navbar .active{/*更高级的navbar影响到了active，需要加上.navbar*/
    color: yellow;
    font-weight: bold;/*高亮*/
}
.idcard{
    background-color: rgba(87, 87, 87, 0);
    width: fit-content;
    display: flex;
    flex-direction: row; 
    align-items: center; /* 水平居中 */
    justify-content: center; /* 垂直居中 */
    padding: 20px; /* 内边距，增加一点间距 */
    border-radius: 5px; /* 圆角效果 */
    margin: auto;
    
}
.idcard .idimage{
    border-radius: 50%;
    width: 200px;
    height: auto;
    display: flex;

}
.idcard div {
    font-size: 30px; /* 调整文字大小 */
    color: rgb(251, 251, 251);
    margin: 60px;
    font-weight: bold;
    text-decoration: none;
}
.idcard div h1 a{
    text-decoration: none;
}
.activepic{
    position: relative;
    flex-wrap: wrap;
    display: flex;
    align-items: center; /* 水平居中 */
    justify-content: center; /* 垂直居中 */
    margin: auto;
    /* 设置3d变化 */
    transform-style: preserve-3d;
    /* 添加透视效果 */
    perspective: 1000px;
    backface-visibility: hidden;
    
}
.activepic .box1{
    transform-style: preserve-3d; /* 不加这个会翻折 */
    backface-visibility: hidden;
    transition: 0.3s;
    width: 250px;
    height: 400px;
    margin: 10px;
}
.activepic:hover .box1 {
    transform: rotateY(15deg);

}
 .activepic .box1 img{
    transform-style: preserve-3d;/* 不加这个会翻折 */
     backface-visibility: hidden;
    width: 100%;
    height: 100%;
    border-radius:  15px; 
   
} 
 /* 当鼠标悬浮在当前卡片上时，当前卡片的翻转角度为0，
        并放大一点二五倍，加个阴影 */
.activepic .box1:hover {
     transform: rotateY(0deg) scale(1.25);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.7);
     z-index: 1;
}
.activepic .box1:hover~.box1 {
    transform: rotateY(-20deg);
}